<div ng-controller="RepositoryController">
    <div class="row">
        <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="reposearch" placeholder="Search most popular Java Project" />
        </div>
        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-2">
                <button ng-click="searchRepo()" class="btn btn-primary btn-lg">Search</button>
            </div>
        </div>
    </div>
    <ul>
        <h2 ng-show="{{repos.total_count}}"> Total number of repos found {{repos.total_count}}  </h2>
        <li ng-repeat=" item in repos.items"> {{item.id}} {{item.name}}  <a href={{item.owner.html_url}}>Visit Project</a></li>
    </ul>


</div>