
<div ng-controller="UserController">
    <input type="text" class="form-control input-lg" ng-model="userquery" placeholder="Search popular users by location" />
    <button  ng-click="showP=true; searchUser()" class="btn btn-primary btn-lg">Search</button>
    
    <ul>
        
        <p ng-show="showP"> There are {{users.total_count}} github user from {{userquery}} </p>
        <li ng-repeat=" item in users.items"> {{item.id}} {{item.score}} <a href={{item.url}}>Visit Project</a> </li>
    </ul>
</div>
<br />

